<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://d37pbainmkhx6o.cloudfront.net/fryright-deploy/favicon.ico" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <link rel="apple-touch-icon" href="https://d37pbainmkhx6o.cloudfront.net/fryright-deploy/logo192.png" />
    {{!--
    <link rel="manifest" href="https://d37pbainmkhx6o.cloudfront.net/fryright-deploy/manifest.json" /> --}}
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <title>$OG_TITLE</title>
    <meta name="description" content="$OG_DESCRIPTION" />
    <meta property="og:title" content="$OG_TITLE" />
    <meta property="og:description" content="$OG_DESCRIPTION" />
    <meta property="og:image" content="$OG_IMAGE" />
    <meta property="og:url" content="$OG_URL" />
    <meta property="og:type" content="$OG_TYPE" />
    <meta property="twitter:url" content="$OG_URL" />
    <meta property="twitter:image" content="$OG_IMAGE" />
    <meta property="twitter:title" content="$OG_TITLE" />
    <meta property="twitter:description" content="$OG_DESCRIPTION" />
    <meta name="twitter:card" value="summary_large_image" />

    {{!--
    <script defer="defer"
        src="https://d37pbainmkhx6o.cloudfront.net/fryright-deploy/static/js/main.js?v=13131"></script> --}}


    <link href="https://d37pbainmkhx6o.cloudfront.net/fryright-deploy/static/css/main.css?v=13131" rel="stylesheet" />
</head>

<body>


    {{message.a}}
    <hr>

    {{message}}

    <div>-----------------------------------</div>
    <hr>
    {{message.b}}
    <hr>
    {{b}}



    {{#if message.b}}
    something B

    {{/if}}

    {{#if message.c}}
    something C

    {{/if}}

    {{message.html}}

    {{!-- {{ render 'text-field' label="First name" id="author-first-name" }} --}}

    <hr>
    <div>Arr1 iteration(Array)</div>

    {{#each message.arr1}}
    <div>
        <span> Data : {{this}} - {{@key}} </span>
    </div>
    {{/each}}


    <hr>
    <div>Arr2 iteration (Array of Objects)</div>
    {{!-- {{message.arr2}} --}}

    {{#each message.arr2}}
    <div>
        <span> Data : {{name}} - {{val}} - {{@key}} </span>
    </div>
    {{/each}}


    <hr>

    <div>Print Header</div>
    {{!-- {{> header }} --}}
    {{message.header}}
    <hr>
    {{!-- {{> footer }} --}}

    <hr>

    <div>Foo Helper Print</div>
    <p>{{foo}}</p>




    <script>

        console.log(4);
    </script>


    <div className="home_page">
        <div className="bannerblock homebanner">
            <div className="container">
                <div className="bannersubblock">
                    <span className="bannertextwrapper">
                        <h1>System Driven Profits!</h1>

                        <div className="bannertitle">
                            <h2>
                                Use Less Oil –<span>42.9% to 566%</span>
                            </h2>
                        </div>
                        <div className="bannertitle">
                            <h2>
                                Eliminates Boil-Out Labor –<span>25% to 50%</span>
                            </h2>
                        </div>
                        <div className="bannertitle">
                            <h2>
                                Earn Higher Profits –<span>50% to 100%</span>
                            </h2>
                        </div>
                        <div className="bannertitle">
                            <h2>
                                Reduces Food Waste –<span>30% to 60%</span>
                            </h2>
                        </div>



                        <a href="/testimonials">
                            <p>We can PROVE IT</p>
                        </a>


                    </span>
                    <img src="https://d37pbainmkhx6o.cloudfront.net/fryright_images/home_image2.webp" alt="#"
                        className="abimage1 hideimage" />
                    <img src="https://d37pbainmkhx6o.cloudfront.net/fryright_images/Home-banner_new.png" alt="#"
                        className="abimage2 hideimage" />
                </div>
            </div>
        </div>
        <div className="block2">
            <div className="container">
                <span className="block2subwrapper">
                    <span className="colcontainer">
                        <div className="col5">
                            <span className="videowrapper">

                                {{!--
                                <Suspense fallback={<YoutubePlayerSkeleton />}> --}}
                                <YoutubePlayer link="https://www.youtube.com/embed/qpbHAahHFXY" />
                                </Suspense>

                                <div className="videowrapper_blankdiv">
                                    <Link to="/testimonials">
                                    </Link>
                                </div>
                            </span>
                            <div className="yellowtitle">
                                <span>
                                    {{!-- {/* Results of a Quality Cycle&trade; from our 7 location Dairy Queen
                                    franchise */} --}}
                                    See real people talking about how long their Quality Cycle<i className="tm">tm</i>
                                    is
                                    with The Fry Right System
                                </span>
                                {{!-- {/* <button to="/testimonials">See the Proof!</button> */} --}}
                                <Link to="/testimonials">See the Proof! </Link>
                            </div>
                        </div>
                        <div className="col5">
                            <span className="titlewrapper">
                                <div className="greentitle">
                                    <h2>Increase Your Profits</h2>
                                </div>
                                <img src="https://d37pbainmkhx6o.cloudfront.net/fryright_images/home_icon1.png" alt=""
                                    className="hideimage" />
                            </span>

                            <div className="textwrapper">
                                <p>
                                    Fryers are the most profitable cooking tool in a commercial
                                    kitchen. The right frying system will enhance your food’s
                                    taste, while poor frying systems scare away customers.
                                    {{!-- {/* <span>
                                        Carbon and TPMs are out of control and the main reasons
                                        why profits are not maximized in this section of
                                        commercial kitchens.
                                    </span>
                                    If you think or have been told the employees are the
                                    problem, monitor oil quality by color or 3m strips, boil-out
                                    or cascade, we can help improve your profits! */} --}}
                                </p>
                                <p>
                                    The Fry Right System is designed to address the main reasons
                                    why profits are not maximized by many restaurants – Carbon,
                                    which is out of control and TPM’s which are ignored.
                                    {{!-- {/* <span>
                                        Our locations report uninterrupted quality cycles of 7 to
                                        18 days!
                                    </span>
                                    How long is your quality currently lasting you? Consistent
                                    high quality with fried food is not a myth and we are
                                    provoing it every day! */} --}}
                                </p>
                                <p>
                                    Enhance your oil management program with the Fry Right
                                    System.
                                </p>
                                <p>
                                    • Simplify the process for employees so they are more
                                    effective.
                                </p>
                                <p>
                                    • Preserve taste throughout the oil cycle to keep food
                                    tasting great.
                                </p>
                                <p>
                                    Consistent high quality with fried food is not a myth! We
                                    can prove it.
                                </p>
                            </div>
                            <span className="block2subtitle">
                                <img src="https://d37pbainmkhx6o.cloudfront.net/fryright_images/home_image3.png" alt=""
                                    className="hideimage" />
                                {{!-- {/* <a className="yellowtitle">
                                    <span>Start Your Quality Cycle Today!</span>
                                </a> */} --}}
                            </span>
                        </div>
                    </span>
                </span>
            </div>
        </div>

        <div className="block3">
            <div className="container">
                <span className="block3subwrapper">
                    <div className="greentitle">
                        <h2>
                            Empower employees to achieve clean vats below the oil line, all
                            the time, with the Fry Right System!
                        </h2>
                    </div>
                    <span className="colcontainer">
                        <div className="col3">
                            <span className="block3textwrapper">
                                <h3>A Turn Key Solution</h3>
                                <p>
                                    Get the knowledge and tools you need to improve your fried
                                    food quality. We provide a comprehensive system with
                                    effective tools. This makes it easy for your employees to
                                    achieve amazing results. The system adapts to the unique
                                    needs of every kitchen.
                                </p>
                            </span>
                            <span className="block3imgwrapper">
                                <img src="https://d37pbainmkhx6o.cloudfront.net/fryright_images/complete_system_pic.webp"
                                    alt="" className="hideimage" />
                            </span>
                        </div>
                        <div className="col3">
                            <span className="block3textwrapper">
                                <h3>BETTER RESULTS WITH LESS EFFORT</h3>
                                <p>
                                    Simplify the fryer cleaning process. Each cycle leaves the
                                    fryer vats cleaner than the prior cycle. Better food, easier
                                    cleaning. Your customers AND employees will love this
                                    system!
                                </p>
                            </span>
                            <span className="block3imgwrapper">
                                <img src="https://d37pbainmkhx6o.cloudfront.net/fryright_images/home_image5.png" alt=""
                                    className="hideimage" />
                            </span>
                        </div>
                        <div className="col3">
                            <span className="block3textwrapper">
                                <h3>MORE PROFITABLE RESTAURANTS</h3>
                                <p>
                                    Happier employees, reduced cleaning times, and consistent
                                    high quality fried food. Bring your customers the Superior
                                    Fried Food Experience they’re looking for with The Fry Right
                                    System.
                                </p>
                            </span>
                            <span className="block3imgwrapper">
                                <img className="hideimage"
                                    src="https://d37pbainmkhx6o.cloudfront.net/fryright_images/three-day-old-oil-chips-potato-wedges-famous-daves-fry-right.jpg"
                                    alt="" />
                            </span>
                        </div>
                    </span>
                </span>
            </div>
        </div>

        <div className="block4">
            <div className="container">
                <span className="block4subwrapper">
                    <img src="https://d37pbainmkhx6o.cloudfront.net/fryright_images/home_image7.png" alt="#"
                        className="abimage hideimage" />
                    <div className="block4list">
                        <div className="block4lists">
                            <h2>Reduces Costs, Increases Profits! </h2>
                        </div>
                        <div className="block4lists">
                            <h2>Consistent Quality All Cycle Long </h2>
                        </div>
                        <div className="block4lists">
                            <h2>Safe & Healthier for Customers</h2>
                        </div>
                        <div className="block4lists">
                            <h2>
                                The Fry Right System <br />proud to be a Green Solution
                            </h2>
                        </div>
                    </div>
                </span>
            </div>
        </div>

        <div className="block5">
            <div className="container">
                <span className="block5subwrapper">
                    <span className="colcontainer">
                        <div className="col6">
                            <div className="textwrapper">
                                <h3>The Fry Right Difference:</h3>
                                <p>
                                    <span>
                                        This is not an Oil Management Solution. It’s a Frying
                                        Solution!
                                    </span>
                                    {{!-- {/* <span>
                                        Our partners are achieving 10 to 18 day oil cycles with
                                        perfect presentable quality all cycle long!
                                    </span> */} --}}
                                </p>
                                <p>
                                    Optimize the force within frying. This makes fried food safe
                                    and healthier for customers!
                                </p>
                                <p className="mb0">
                                    How is the Fry Right System different from other frying
                                    solutions? Our partners are achieving 10 to 18 day oil
                                    cycles with perfect presentable quality all cycle long!
                                </p>
                                <p>
                                    This inclusive system makes it easy for your frying program
                                    to <span> extend and preserve the integrity of the fried food
                                        quality </span> it is delivering to the customer. The system
                                    utilizes effective tools and protocols that make the machine
                                    cleaning process easy and effortless so anyone can keep up
                                    with the consistent grind of carbon creation!
                                </p>
                                <p>
                                    We provide the training and tools needed for each position,
                                    from cook to area director. Our system merges with the
                                    workflow and does not disrupt business. We have unlocked the
                                    secrets of this profitable cooking tool, and created a
                                    comprehensive way to optimize this profit center.
                                </p>
                                <p>
                                    Learn how to <span> fry right. </span> Let us show you how you can achieve better
                                    results, at lower costs.
                                </p>
                            </div>
                        </div>
                        <div className="col4">
                            <div className="toggleblock">
                                <div className="textwrapper">

                                </div>
                            </div>
                        </div>
                    </span>
                    {{!-- {/* <img src="https://d37pbainmkhx6o.cloudfront.net/fryright_images/home_image9.png" alt="#"
                        className="abimage1 hideimage" /> */} --}}
                    <img src="https://all-frontend-assets.s3.amazonaws.com/fryright_images/difference_section_round_img.png"
                        alt="#" className="abimage2 hideimage" />


                    {{!-- {videohas && videohas == true ? <img
                        src="https://all-frontend-assets.s3.amazonaws.com/fryright_images/as_videoadd_difference_section_round_img.png"
                        alt="#" className="toggleimage" />:null} --}}



                    {{!--

                    {/* {con.length > 0 && con.map((data) => {
                    return (
                    <>
                        {showdiv === data.id ? <>{data.videourl == '' ? "": <img
                                src="https://all-frontend-assets.s3.amazonaws.com/fryright_images/block3_mainbg.png"
                                alt="#" className="toggleimage" />}</> : ""}
                    </>

                    );
                    })} */}


                    {/* <img
                        src="https://all-frontend-assets.s3.amazonaws.com/fryright_images/difference_section_round_img.png"
                        alt="#" className="" /> */} --}}
                </span>
            </div>
        </div>

        <div className="block6">
            <div className="container">
                <span className="colcontainer">
                    <div className="col3">
                        <span className="block6title">
                            <h2>Colin</h2>
                            <p>Owner, MacKenzie River Pizza, Grill & Pub</p>
                        </span>
                        <span className="block6image">
                            <img className="hideimage"
                                src="https://d37pbainmkhx6o.cloudfront.net/fryright_images/home_image10.png" alt="#" />
                        </span>
                        <span className="block6text">
                            <span className="iconwrapper">
                                <img className="hideimage"
                                    src="https://d37pbainmkhx6o.cloudfront.net/fryright_images/home_icon3.png"
                                    alt="#" />
                            </span>
                            <p>
                                We were doing 3 day cycles with our oil to maintain quality.
                                The Fry Right System helped us achieve 20 day cycles right off
                                the bat, it was amazing! Since implementing The Fry Right
                                System our fryers have gotten so much busier. This has caused
                                our cycles to lose a few days, but who’s going to complain
                                about that? Thanks Fry Right!
                            </p>
                        </span>
                    </div>
                    <div className="col3">
                        <span className="block6title">
                            <h2>Jenny</h2>
                            <p>Owner, Fiesta Ole</p>
                        </span>
                        <span className="block6image">
                            <img className="hideimage"
                                src="https://d37pbainmkhx6o.cloudfront.net/fryright_images/home_image11.png" alt="#" />
                        </span>
                        <span className="block6text">
                            <span className="iconwrapper">
                                <img className="hideimage"
                                    src="https://d37pbainmkhx6o.cloudfront.net/fryright_images/home_icon3.png"
                                    alt="#" />
                            </span>
                            <p>
                                My general managers love The Fry Right System. They helped us
                                improve our filtering process, along with extending the days
                                we can take our oil. I think we were at 4 or 5 days when Fry
                                Right first started with us. Now all my locations dump their
                                fryers every 2 weeks, and the fryers look amazing! I can’t
                                believe how clean they stay, and all my friends love how good
                                the food tastes all the time! I know The Fry Right System is
                                the difference!
                            </p>
                        </span>
                    </div>
                    <div className="col3">
                        <span className="block6title">
                            <h2>Kris</h2>
                            <p>Owner, Sonic</p>
                        </span>
                        <span className="block6image">
                            <img className="hideimage"
                                src="https://d37pbainmkhx6o.cloudfront.net/fryright_images/home_image12.png" alt="#" />
                        </span>
                        <span className="block6text">
                            <span className="iconwrapper">
                                <img className="hideimage"
                                    src="https://d37pbainmkhx6o.cloudfront.net/fryright_images/home_icon3.png"
                                    alt="#" />
                            </span>
                            <p>
                                Sonic is all about higher quality everywhere, because they
                                know how it effects sales. The Fry Right System helps us
                                achieve consistent high quality fried food with long oil life.
                                I know that my fried food is selling better since we started
                                working with Fry Right. I am proud to have them with us in our
                                new store in Rexburg ID. We did over 10k per day on opening
                                weekend!
                            </p>
                        </span>
                    </div>
                </span>
            </div>
        </div>

        <div className="footer_banner">
            <span className="footer_banner_BG">
                <div className="footer_banner_text">
                    <h2>It's about knowing how to Fry Right!</h2>
                    <p>
                        Don’t wait to help make it easier for your employees to increase
                        savings and sales!
                    </p>
                </div>

                <div className="footer_banner_link">
                    <button>
                        <a href="/contact"> Contact Us Today!</a>
                    </button>
                </div>
            </span>
        </div>
    </div>

</body>

</html>